<% include layouts/head %>
<body>
  <% if (message != null) { %>
   <div class="alert-danger"><%= message %></div>
  <% } %>
  <% if (portfolio == null) { %>
  
    <div class="text-center">
      <div class="jumbotron">
        <h1 class=" fa fa-user"> Welcome <%= user.local.username %></h1><br>
      </div>
      <div class="col-sm-8 col-sm-offset-2">
      <div class="col-md-8 col-sm-offset-2">
        <div class="text-center">
          <!-- <div class="jumbotron"> -->
            <div class="panel panel-default">
              <div class="panel-heading">Create Portfolio</div>
              <div class="panel-body">
                <form class="form-horizontal" action="/create-portfolio" method="post" id="portfolioForm">
                  <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="name" required="true" placeholder="Name">
                  </div>
                  <div class="form-group">
                    <label>Description</label>
                    <input type="text" class="form-control" name="description" placeholder="Description">
                  </div>
                  
                  <inbut type="" id="workButton" class="btn btn-primary">
                  Add Work
                  </inbut>
                   <br>
                   <hr>
                  <input type="submit" class="btn btn-primary" value="Submit" />
                </form>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="workModal" class="modal">
    <div class="col-md-8 col-sm-offset-2">
     <div class="modal-header">
     <div class="text-center">
       Add Work
       <span class="close">&times;</span>
        </div>
     </div>
     <!-- Modal content -->
     <div class="modal-content">
      <div class="modal-body">
        <form class="form-horizontal" enctype="multipart/form-data" action="/add-work" method="post" id="workForm">
          <div class="form-group">
           <div class="text-center">
            <label>Title</label>
            <input type="text" class="form-control" name="title" required="true">
          </div>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="type" id="linkOption" value="1" />
            link
          </label>
        <!-- </div> -->
        <input type="text" class="form-control" name="url" id="urlText" required="true"  />
       <div class="text-center">
        <p>OR</p>
        </div>
        <!-- <div class="radio"> -->
          <label>
            <input  type="radio" name="type" id="screenshotOption" value="2" />
            screenshot
          </label>
        
        <input type="file" data-placeholder="No file chosen" name="screenshot" id="fileUpload" required="true" />
        </div>
        <p></p>
        <hr>
        <div class="text-center">
         <input type="submit" class="btn btn-primary" value="Submit" />
         </div>
      </form>
    </div>
  </div>
</div>
</div>


<script type="text/javascript">
// Get the modal
var modal = document.getElementById('workModal');

// Get the button that opens the modal
var btn = document.getElementById("workButton");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

<% }else { %>
  <div class="jumbotron">
  <div class="text-center">
        <img src="<%= portfolio.profilePicture %>"class="img-circle" width = "170" height="170" id="ppbutton"  title="Change Profile Picture" >
        <h1> <%= portfolio.name %></h1>
        <h6> <%= portfolio.description %> </h6>
      </div>
      </div>
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <div class="row">
                <% for(var i=0; i< works.length; i++){%>
                    <div class="card col-xs-4">
                        <h4 class="card-title"> <%= works[i].title %></h4>
                        <% if(works[i].type == "1") { %>
                        <a href="<%= works[i].details %>" class="btn btn-primary card-link">Visit Website</a>
                        <% }else { %>

                        <img src='<%= works[i].details%>' class="img-circle" width = "120" height="100">
                        <% } %>
                    </div>
                <% } %>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="form-container">
                <h3 style="margin-bottom:40px;">Add New Project</h3>
                       <form class="form-horizontal" enctype="multipart/form-data" action="/add-work" method="post" id="workForm">
          <div class="form-group">
           <div class="text-center">
            <label>Title</label>
            <input type="text" class="form-control" name="title" required="true">
          </div>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="type" id="linkOption" value="1" />
            link
          </label>
        <!-- </div> -->
        <input type="text" class="form-control" name="url" id="urlText" required="true" />
       <div class="text-center">
        <p>OR</p>
        </div>
        <!-- <div class="radio"> -->
          <label>
            <input  type="radio" name="type" id="screenshotOption" value="2" />
            screenshot
          </label>
        
        <input type="file" data-placeholder="No file chosen" name="screenshot" id="fileUpload" required="true" />
        </div>
        <p></p>
        <div class="text-center">
         <input type="submit" class="btn btn-primary" value="Submit" />
         </div>
      </form>
            </div>
        </div>
    </div>

  <div id="ppModal" class="modal">
    <div class="col-md-8 col-sm-offset-2">
     <div class="modal-header">
     <div class="text-center">
       Change Your Profile Picture
       <span class="close">&times;</span>
        </div>
     </div>
     <!-- Modal content -->
     <div class="modal-content">
      <div class="modal-body">
        <form class="form-horizontal" enctype="multipart/form-data" action="/change-pp" method="post" id="ppForm">
          
        <input type="file" data-placeholder="No file chosen" name="pp" id="ppUpload" required="true" />
        </div>
        <p></p>

        <div class="text-center">
         <input type="submit" class="btn btn-primary" value="Upload" />
         </div>
      </form>
    </div>
  </div>
</div>
</div>
<script type="text/javascript">
// Get the modal
var modal = document.getElementById('ppModal');

// Get the button that opens the modal
var btn = document.getElementById("ppbutton");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
<% } %>


    <script type="text/javascript">
$(document).ready(function () {
  $("input[type='radio']").on("change", function(){        
    chkPanelChanged(this);
  });
});

function chkPanelChanged(obj) {

  if (obj.id == "linkOption") {
    var fileUpload = document.getElementById("fileUpload");
    var urlText = document.getElementById("urlText");
    urlText.disabled = false;
    fileUpload.disabled = true;
        // $('#fileUpload').filestyle({ disabled : true});
      }
      else if (obj.id == "screenshotOption")
      {
        var fileUpload = document.getElementById("fileUpload");
        var urlText = document.getElementById("urlText");
        urlText.disabled = true;
        fileUpload.disabled = false;
    }
  }


</script>
</body>
</html>
